/**
 * We re-group here all layout-related properties scattered along the original OJS' stylesheets
 */

#main-wrapper {
	margin:0 auto; // Center
	max-width: $max-width; // RWD
	@include clearfix();
}

// In order to apply full-width background-colors we need to set padding separately, not in #container
#header {
	background-color:$header-background-color;
	padding:rhythm(1) $gutter; // We use rhythm for vertical spacing and user-defined gutter for horizontal
	width: 100%;
	text-align: center;
	margin-bottom:rhythm(0.5);
}

#nav {
	padding:0 $gutter;
	margin-bottom:rhythm(0.5);
}

#main {
	padding:0 $gutter;
	margin-bottom:rhythm(1);
	width:100%;
}

#footer {
	padding:rhythm(0.5) rhythm(1) rhythm(1) rhythm(1);
}

.rightsidebar {
	@include breakpoint($sidebar-breakpoint) {
		#main {
			float:left;
			width: 100% - $right-sidebar-width;
		}
	}
}

.leftsidebar {
	@include breakpoint($sidebar-breakpoint) {
		#main {
			float:right;
			width: 100% - $right-sidebar-width;
		}
	}
}

.leftsidebar.rightsidebar {
	@include breakpoint($sidebar-breakpoint) {
		#main {
			float:left;
			width: 100% - $right-sidebar-width - $left-sidebar-width;
		}
	}
}


#left-sidebar {
	// We need to specifically override these also
	width:100%;
	padding:0 $gutter;
	@include breakpoint($sidebar-breakpoint) {
		float: left;
		width: $left-sidebar-width;
		// Separator
		border-right:1px solid $line-color;
	}
}

// Modificaremos el layout en proximas ediciones
#right-sidebar {
	// We need to specifically override these also
	width:100%;
	padding:0 $gutter;
	@include breakpoint($sidebar-breakpoint) {
		float: right;
		width: $left-sidebar-width;
		// Separator
		border-left:1px solid $line-color;
	}
}


// We insert a clearfix inside body because we don't want it to lose its height (all its child elements are floated)
#body {
	@include clearfix();
	// The HTML markup places sidebar avobe main, but on mobile phones we'd rather see the main content first.
	// We can leverage flexbox to achieve this.
	@include breakpoint(max-width $sidebar-breakpoint) {
		display:flex;
		flex-direction:column;
	}
}

#sidebar {
	order:2
}

#main {
	order:1;
}
