@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Oswald:400,300,700);
/*
/* OJS-specific version of Normalize.css
/* - It DOES NOT address issues already resolved by OJS's own reset
/* - It DOES address and overrride OJS's default styling (colors, headings, etc)
/*

/* Based upon:
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 26, ../sass/init/_normalize.scss */
html {
  font-family: Merriweather, Georgia, Times, serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 44, ../sass/init/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 65, ../sass/init/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 84, ../sass/init/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 94, ../sass/init/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 103, ../sass/init/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 115, ../sass/init/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 124, ../sass/init/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 136, ../sass/init/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 144, ../sass/init/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 154, ../sass/init/_normalize.scss */
blockquote {
  margin: 24px 40px;
  margin: 1.5rem 2.5rem;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 163, ../sass/init/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 172, ../sass/init/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 51px;
  font-size: 3.157rem;
  line-height: 72px;
  line-height: 4.5rem;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 187, ../sass/init/_normalize.scss */
h2 {
  font-size: 38px;
  font-size: 2.369rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 193, ../sass/init/_normalize.scss */
h3 {
  font-size: 28px;
  font-size: 1.777rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 199, ../sass/init/_normalize.scss */
h4 {
  font-size: 21px;
  font-size: 1.333rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 205, ../sass/init/_normalize.scss */
h5 {
  font-size: 11px;
  font-size: 0.707rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 211, ../sass/init/_normalize.scss */
h6 {
  font-size: 8px;
  font-size: 0.5rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 223, ../sass/init/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 234, ../sass/init/_normalize.scss */
p,
pre {
  margin: 24px 0;
  margin: 1.5rem 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 244, ../sass/init/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 252, ../sass/init/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 260, ../sass/init/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 264, ../sass/init/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 276, ../sass/init/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 24px 0;
  margin: 1.5rem 0;
}

/**
 * Turn off margins on nested lists.
 */
/* line 290, ../sass/init/_normalize.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/* line 297, ../sass/init/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 305, ../sass/init/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 317, ../sass/init/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 332, ../sass/init/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 345, ../sass/init/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 357, ../sass/init/_normalize.scss */
figure {
  margin: 24px 40px;
  margin: 1.5rem 2.5rem;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 366, ../sass/init/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 375, ../sass/init/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 383, ../sass/init/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 407, ../sass/init/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 421, ../sass/init/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: Merriweather, Georgia, Times, serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 439, ../sass/init/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 450, ../sass/init/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 465, ../sass/init/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 480, ../sass/init/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 489, ../sass/init/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 500, ../sass/init/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 515, ../sass/init/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 532, ../sass/init/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 543, ../sass/init/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 553, ../sass/init/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 563, ../sass/init/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 1px;
  border-top-width: 0.0625rem;
  border-top-style: solid;
  padding-top: 7px;
  padding-top: 0.4625rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  padding-bottom: 15px;
  padding-bottom: 0.9125rem;
  border-left-width: 1px;
  border-left-width: 0.0625rem;
  border-left-style: solid;
  padding-left: 14px;
  padding-left: 0.875rem;
  border-right-width: 1px;
  border-right-width: 0.0625rem;
  border-right-style: solid;
  padding-right: 14px;
  padding-right: 0.875rem;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 579, ../sass/init/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 593, ../sass/init/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 602, ../sass/init/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 613, ../sass/init/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 618, ../sass/init/_normalize.scss */
td,
th {
  padding: 0;
}

/**
 * Overrides OJS's base stylesheet /lib/pkp/styles/common.css.
 *
 */
/**
 * Common HTML elements
 */
/* line 10, ../sass/pkp/_pkp_common.scss */
body {
  background-color: transparent;
  color: #333;
  font-family: Merriweather, Georgia, Times, serif;
}

/* line 17, ../sass/pkp/_pkp_common.scss */
p {
  margin: 1rem 0;
  /* Making default stylesheet explicit - fixes IE7 margin collapsing. */
}

/* line 22, ../sass/pkp/_pkp_common.scss */
table {
  font-size: 1.0rem;
}

/* line 27, ../sass/pkp/_pkp_common.scss */
ul {
  margin: 0.375rem 0 1.125rem 0;
  padding: 0 0 0 3rem;
}

/* line 37, ../sass/pkp/_pkp_common.scss */
label.error {
  color: #900;
}

/* line 41, ../sass/pkp/_pkp_common.scss */
input.textField, select.selectMenu, textarea.textArea, input.uploadField {
  background-color: #F0F0E8;
  color: #000;
  font-family: inherit;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-bottom: 2px solid #E8E8E1;
  border-right: 2px solid #E8E8E1;
  font-size: 1em;
}

/* line 53, ../sass/pkp/_pkp_common.scss */
input.button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #E8E8E1;
  font-size: 1em;
}

/* line 60, ../sass/pkp/_pkp_common.scss */
input.defaultButton {
  background-color: #375;
  color: #FBFBF3;
  font-weight: bold;
}

/**
 * Main layout elements
 */
/* line 71, ../sass/pkp/_pkp_common.scss */
#container {
  min-width: 0 !important;
}

/* line 77, ../sass/pkp/_pkp_common.scss */
#header {
  width: 100%;
  text-align: center;
}

/* line 82, ../sass/pkp/_pkp_common.scss */
#header h1 {
  padding: 0.75rem 0 0.375rem 10%;
  font-family: Oswald, Impact, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* line 94, ../sass/pkp/_pkp_common.scss */
#footer {
  width: 100%;
  min-height: 50px;
  position: static;
  clear: both;
  text-align: center;
}

/* line 102, ../sass/pkp/_pkp_common.scss */
#footerContent {
  width: 100%;
  margin: 0 auto;
  padding-left: 10%;
}

/* line 108, ../sass/pkp/_pkp_common.scss */
#main {
  padding: 0;
}

/* line 113, ../sass/pkp/_pkp_common.scss */
#main h2 {
  margin: 0;
  padding-top: 0;
  font-family: Oswald, Impact, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 121, ../sass/pkp/_pkp_common.scss */
#main h3 {
  margin: 0;
  padding-top: 0;
  font-family: Oswald, Impact, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 128, ../sass/pkp/_pkp_common.scss */
#navbar {
  margin-right: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #000;
}

/* line 135, ../sass/pkp/_pkp_common.scss */
#breadcrumb {
  padding: 0.75rem 0;
  font-size: 11px;
  font-size: 0.707rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 143, ../sass/pkp/_pkp_common.scss */
#content {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  font-size: inherit;
  border-top: 2px dotted #000;
}

/* line 151, ../sass/pkp/_pkp_common.scss */
#content h3 {
  margin: 0;
  padding: 0;
  font-family: Oswald, Impact, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-size: 1.777rem;
  line-height: 48px;
  line-height: 3rem;
}

/* line 159, ../sass/pkp/_pkp_common.scss */
#content h4 {
  margin: 0;
  font-family: Oswald, Impact, Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-size: 1.333rem;
  line-height: 48px;
  line-height: 3rem;
}

/* line 165, ../sass/pkp/_pkp_common.scss */
#content h5 {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-size: 0.707rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/**
 * Breadcrumbs
 */
/* line 177, ../sass/pkp/_pkp_common.scss */
#breadcrumb a.current {
  font-weight: bold;
}

/**
 * Footer elements
 */
/* line 186, ../sass/pkp/_pkp_common.scss */
#footer div.debugStats {
  font-size: 0.6em;
}

/**
 * Additional text styles
 */
/* line 196, ../sass/pkp/_pkp_common.scss */
span.disabled, label.disabled {
  color: #666;
}

/* line 200, ../sass/pkp/_pkp_common.scss */
a.action, a.file {
  font-size: 0.85em;
  text-transform: uppercase;
}

/* line 205, ../sass/pkp/_pkp_common.scss */
a.icon {
  text-decoration: none;
}

/* line 209, ../sass/pkp/_pkp_common.scss */
a.icon img {
  border: 0;
}

/* line 213, ../sass/pkp/_pkp_common.scss */
a.icon:hover {
  background: none;
}

/* line 217, ../sass/pkp/_pkp_common.scss */
span.formRequired {
  color: #333;
  font-size: 0.9em;
}

/* line 222, ../sass/pkp/_pkp_common.scss */
span.heading {
  font-size: 0.85em;
  text-transform: uppercase;
}

/* line 227, ../sass/pkp/_pkp_common.scss */
span.highlight {
  border-bottom: 1px dotted #000;
}

/* line 231, ../sass/pkp/_pkp_common.scss */
div.warningMessage {
  background: url(../templates/images/icons/icon_alert.gif) no-repeat 3px 40%;
  margin: 5px;
  padding: 5px 5px 5px 25px;
}

/* line 237, ../sass/pkp/_pkp_common.scss */
.nowrap {
  white-space: nowrap;
}

/**
 * Table styles
 */
/* line 245, ../sass/pkp/_pkp_common.scss */
table.info td {
  padding: 0;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}

/* line 251, ../sass/pkp/_pkp_common.scss */
table.listing td {
  padding: 0.25em 1.5em 0.25em 0.5em;
}

/* line 255, ../sass/pkp/_pkp_common.scss */
table.listing tr.heading td, table.listing td.heading, table.info td.heading {
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0.75em 1.5em 1em 0.5em;
}

/* line 262, ../sass/pkp/_pkp_common.scss */
table.info td.heading {
  padding-left: 0;
}

/* line 267, ../sass/pkp/_pkp_common.scss */
table.listing td.nodata, table.info td.nodata {
  text-align: center;
  font-style: italic;
}

/* line 272, ../sass/pkp/_pkp_common.scss */
table.listing td.headseparator {
  border-top: 1px dotted #000;
  font-size: 0.1em;
  line-height: 1%;
}

/* line 278, ../sass/pkp/_pkp_common.scss */
table.listing td.endseparator {
  border-top: 1px dotted #000;
  font-size: 0.25em;
  line-height: 10%;
}

/* line 284, ../sass/pkp/_pkp_common.scss */
table.listing td.separator, table.info td.separator {
  border-top: 1px dotted #DDDDD0;
  font-size: 0.1em;
  line-height: 1%;
}

/* line 293, ../sass/pkp/_pkp_common.scss */
table.data td {
  padding-bottom: 0.25em;
}

/* line 297, ../sass/pkp/_pkp_common.scss */
table.data td.label {
  padding-right: 1em;
}

/* line 304, ../sass/pkp/_pkp_common.scss */
table.data td.separator {
  padding: 0.5em;
  font-size: 0.1em;
  line-height: 1%;
}

/* line 310, ../sass/pkp/_pkp_common.scss */
table.data td.heading {
  padding-left: 0;
  padding-right: 0;
}

/* line 315, ../sass/pkp/_pkp_common.scss */
table.nested tr {
  padding: 0;
  margin: 0;
}

/* line 320, ../sass/pkp/_pkp_common.scss */
span.nested {
  padding: 0 4px 0 0;
  font-size: 1.2em;
}

/**
 * Form-specific elements
 */
/* line 329, ../sass/pkp/_pkp_common.scss */
span.pkp_form_error {
  /* Named for compatibility with new lessphp structure */
  color: #900;
  font-weight: bold;
  font-size: 1em;
}

/* line 335, ../sass/pkp/_pkp_common.scss */
span.pkp_form_success {
  /* Named for compatibility with new lessphp structure */
  color: #090;
  font-weight: bold;
  font-size: 1em;
}

/* line 341, ../sass/pkp/_pkp_common.scss */
ul.pkp_form_error_list {
  /* Named for compatibility with new lessphp structure */
  color: #900;
}

/**
 * Other organizational elements
 */
/* line 350, ../sass/pkp/_pkp_common.scss */
ul.menu li {
  padding-right: 1.5rem;
  display: inline-block;
}

/* line 358, ../sass/pkp/_pkp_common.scss */
ul.menu li.current {
  font-weight: bold;
}

/* line 362, ../sass/pkp/_pkp_common.scss */
ul.menu a {
  display: block;
  padding: 0 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: Oswald, Impact, Helvetica, Arial, sans-serif;
}

/* line 373, ../sass/pkp/_pkp_common.scss */
ul.steplist {
  margin: 0;
  padding: 0;
  list-style-type: decimal;
}

/* line 379, ../sass/pkp/_pkp_common.scss */
ul.steplist li {
  margin: 0;
  padding: 0;
  font-size: 0.85em;
  padding-right: 0.5em;
  display: inline;
  text-transform: uppercase;
}

/* line 388, ../sass/pkp/_pkp_common.scss */
ul.steplist li.current {
  font-weight: bold;
}

/* line 392, ../sass/pkp/_pkp_common.scss */
ul.steplist a {
  text-decoration: none;
}

/* line 396, ../sass/pkp/_pkp_common.scss */
ul.plain {
  list-style-type: none;
  padding-left: 1.5em;
}

/* line 401, ../sass/pkp/_pkp_common.scss */
ul.filter {
  margin: 0;
  padding: 1.5em 0 1.5em 0;
  list-style-type: none;
}

/* line 407, ../sass/pkp/_pkp_common.scss */
ul.filter li {
  padding-right: 1.5em;
  display: inline;
}

/**
 * Other organizational elements
 */
/* line 417, ../sass/pkp/_pkp_common.scss */
div.separator {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.25em;
  padding: 0;
  border-bottom: 1px dotted #000;
  font-size: 0.5em;
  line-height: 25%;
}

/**
 * Overrides OJS's base stylesheet /styles/common.css.
 *
 */
/* line 6, ../sass/pkp/_common.scss */
.ui-pnotify-title {
  font-size: 0.8em;
}

/* line 10, ../sass/pkp/_common.scss */
.ui-pnotify-text {
  font-size: 0.6em;
}

/* line 14, ../sass/pkp/_common.scss */
.ui-pnotify-history-container .ui-pnotify-history-header {
  font-size: 0.8em;
}

/**
 * Common HTML elements
 */
/* line 22, ../sass/pkp/_common.scss */
a:link {
  color: #375;
}

/* line 26, ../sass/pkp/_common.scss */
a:active {
  color: #253;
}

/* line 30, ../sass/pkp/_common.scss */
a:visited {
  color: #375;
}

/* line 34, ../sass/pkp/_common.scss */
a:hover {
  color: #253;
  background: #CDC;
}

/**
 * Main layout elements
 */
/* line 44, ../sass/pkp/_common.scss */
#header {
  background-color: transparent;
}

/* line 49, ../sass/pkp/_common.scss */
#footer {
  background-color: transparent;
}

/**
 * Access icons and key
 */
/* line 64, ../sass/pkp/_common.scss */
#accessKey {
  margin-bottom: 2em;
}

/* line 68, ../sass/pkp/_common.scss */
#accessKey img {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

/* line 74, ../sass/pkp/_common.scss */
#content img.accessLogo {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

/**
 * Navigation bar
 */
/* line 85, ../sass/pkp/_common.scss */
#navbar a {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  letter-spacing: normal;
}

/**
 * Announcements
 */
/* line 97, ../sass/pkp/_common.scss */
#announcementsHome {
  width: 100%;
  margin: 2em 0 2em 0;
}

/* line 102, ../sass/pkp/_common.scss */
#announcementsHome h3 {
  text-align: center;
}

/* line 106, ../sass/pkp/_common.scss */
#announcements {
  width: 100%;
}

/* line 110, ../sass/pkp/_common.scss */
#announcements h3 {
  text-align: center;
}

/* line 114, ../sass/pkp/_common.scss */
table.announcements {
  width: 100%;
}

/* line 118, ../sass/pkp/_common.scss */
table.announcements td {
  padding: 0.25em 0.5em 0.25em 0.5em;
}

/* line 122, ../sass/pkp/_common.scss */
table.announcements td.nodata {
  text-align: center;
  font-style: italic;
}

/* line 127, ../sass/pkp/_common.scss */
table.announcements td.headseparator {
  border-top: 1px dotted #000;
  font-size: 0.1em;
  line-height: 1%;
}

/* line 133, ../sass/pkp/_common.scss */
table.announcements td.endseparator {
  border-top: 1px dotted #000;
  font-size: 0.25em;
  line-height: 10%;
}

/* line 139, ../sass/pkp/_common.scss */
table.announcements td.separator {
  border-top: 1px dotted #DDDDD0;
  font-size: 0.1em;
  line-height: 1%;
}

/* line 151, ../sass/pkp/_common.scss */
table.announcements tr.title {
  vertical-align: top;
}

/* line 155, ../sass/pkp/_common.scss */
table.announcements td.title {
  width: 85%;
}

/* line 162, ../sass/pkp/_common.scss */
table.announcements tr.description {
  vertical-align: top;
}

/* line 166, ../sass/pkp/_common.scss */
table.announcements td.description {
  width: 85%;
}

/* line 170, ../sass/pkp/_common.scss */
table.announcements tr.details {
  vertical-align: bottom;
}

/* line 174, ../sass/pkp/_common.scss */
table.announcements td.posted {
  padding-top: 1em;
  font-style: italic;
}

/* line 179, ../sass/pkp/_common.scss */
table.announcements td.more {
  width: 15%;
  text-align: right;
}

/* line 184, ../sass/pkp/_common.scss */
table.announcementsMore {
  width: 100%;
}

/* line 188, ../sass/pkp/_common.scss */
table.announcementsMore td {
  padding-top: 1.5em;
  text-align: right;
}

/**
 * Table of contents
 */
/* line 198, ../sass/pkp/_common.scss */
.tocArticle {
  width: 100%;
  padding: 5px 0;
}

/* line 203, ../sass/pkp/_common.scss */
.tocArticleCoverImage {
  display: none;
}

/* line 206, ../sass/pkp/_common.scss */
.tocArticleCoverImage.showCoverImage {
  display: table-cell;
  width: 15%;
}

/* line 210, ../sass/pkp/_common.scss */
.tocCoverImage {
  width: 100%;
}

/* line 213, ../sass/pkp/_common.scss */
.tocCoverImage img {
  border: 0;
  width: 100%;
}

/* line 218, ../sass/pkp/_common.scss */
.tocArticleTitleAuthors {
  width: 80%;
}

/* line 221, ../sass/pkp/_common.scss */
.tocArticleTitleAuthors.showCoverImage {
  width: 65%;
  padding-left: 10px;
}

/* line 225, ../sass/pkp/_common.scss */
.tocAuthors {
  padding-left: 10px;
}

/* line 229, ../sass/pkp/_common.scss */
.tocArticleGalleysPages {
  width: 20%;
}

/* line 232, ../sass/pkp/_common.scss */
.tocGalleys, .tocPages {
  text-align: right;
}

/**
 * Homepage image
 */
/* line 240, ../sass/pkp/_common.scss */
#homepageImage img {
  display: block;
  margin: 0 auto;
  border: 0;
  text-align: center;
}

/* line 247, ../sass/pkp/_common.scss */
.homepageImage img {
  margin: 0 auto;
  border: 0;
  float: left;
  width: 100px;
  margin: 1em 1em 1em 0;
  text-align: center;
}

/**
 * Issue cover image
 */
/* line 261, ../sass/pkp/_common.scss */
#issueCoverImage img {
  display: block;
  border: 0;
}

/* line 266, ../sass/pkp/_common.scss */
.issueCoverImage img {
  border: 0;
  float: left;
  width: 100px;
  margin: 1em 1em 1em 0;
}

/**
 * Editorial Team Lists
 */
/* line 293, ../sass/pkp/_common.scss */
ol.editorialTeam li {
  list-style: none;
}

/* line 297, ../sass/pkp/_common.scss */
ol.editorialTeam, ol.editorialTeam li {
  margin-left: 0;
  padding-left: 0;
}

/**
 * Additional text styles
 */
/* line 307, ../sass/pkp/_common.scss */
pre {
  background-color: #F0F0E8;
  color: #000;
  font-size: 1.25em;
}

/**
 * Table styles
 */
/* line 317, ../sass/pkp/_common.scss */
.highlightReviewerNotNotified, .highlightCopyediting {
  background: #EDEBC4;
}

/* line 320, ../sass/pkp/_common.scss */
.highlightNoDecision, .highlightLayoutEditing {
  background: #D8E9BD;
}

/* line 323, ../sass/pkp/_common.scss */
.highlightRevisedCopyUploaded, .higlightProofreading {
  background: #C6EBE4;
}

/* line 326, ../sass/pkp/_common.scss */
.highlightReviewerConfirmationOverdue {
  background: #9DD1E6;
}

/* line 329, ../sass/pkp/_common.scss */
.highlightReviewerCompletionOverdue {
  background: #74C5D8;
}

/* line 333, ../sass/pkp/_common.scss */
.fastTracked {
  background-color: #ABA;
}

/* line 337, ../sass/pkp/_common.scss */
table.listing tr.data td {
  border-top: 1px dotted #DDDDD0;
  border-bottom: 1px dotted #DDDDD0;
}

/* line 342, ../sass/pkp/_common.scss */
table.listing tr.data td.drag {
  cursor: move;
}

/**
 * Other organizational elements
 */
/* line 351, ../sass/pkp/_common.scss */
div.progressbar {
  background-image: url(../templates/images/progbg.gif);
  background-repeat: no-repeat;
  height: 27px;
  width: 505px;
  z-index: 1;
}

/* line 359, ../sass/pkp/_common.scss */
td.notificationContent {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 364, ../sass/pkp/_common.scss */
td.notificationFunction {
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}

/* line 370, ../sass/pkp/_common.scss */
.throbber {
  display: none;
  background: url(../lib/pkp/templates/images/throbber.gif) no-repeat;
  width: 25px;
  height: 25px;
  margin-left: 50%;
  margin-top: 5%;
}

/* Font Sizer */
/* line 380, ../sass/pkp/_common.scss */
#sizer a {
  outline: none;
  text-indent: -9999px;
  display: block;
  float: left;
  width: 20px;
  height: 23px;
  margin-right: 4px;
  margin-left: 8px;
}

/* line 391, ../sass/pkp/_common.scss */
#journalListPageInfo {
  float: right;
}

/* line 395, ../sass/pkp/_common.scss */
#journalListPageLinks {
  float: left;
}

/* @group Tag-it */
/* line 402, ../sass/pkp/_common.scss */
ul.tagit {
  padding: 1px 5px;
  overflow: auto;
  margin-left: inherit;
  /* usually we don't want the regular ul margins. */
  margin-right: inherit;
}

/* line 409, ../sass/pkp/_common.scss */
.hidden {
  display: none;
}

/* line 413, ../sass/pkp/_common.scss */
ul.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}

/* line 419, ../sass/pkp/_common.scss */
ul.tagit li.tagit-choice {
  padding: .2em 18px .2em .5em;
  position: relative;
  line-height: inherit;
}

/* line 424, ../sass/pkp/_common.scss */
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}

/* line 428, ../sass/pkp/_common.scss */
ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}

/* line 432, ../sass/pkp/_common.scss */
ul.tagit li.tagit-choice .tagit-close {
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
}

/* used for some custom themes that don't need image icons */
/* line 441, ../sass/pkp/_common.scss */
ul.tagit li.tagit-choice .tagit-close .text-icon {
  display: none;
}

/* line 444, ../sass/pkp/_common.scss */
.ui-autocomplete .ui-menu-item a {
  font-size: .6em;
}

/* line 447, ../sass/pkp/_common.scss */
ul.tagit li.tagit-choice input {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}

/* line 452, ../sass/pkp/_common.scss */
ul.tagit input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  background-color: inherit;
  outline: none;
}

/* @end */
/**
 * styles/rightSidebar.css
 *
 * Copyright (c) 2013-2015 Simon Fraser University Library
 * Copyright (c) 2003-2015 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared elements for pages including a right-hand sidebar.
 *
 */
/**
 * Common HTML elements
 */
/* line 17, ../sass/pkp/_rightSidebar.scss */
#headerTitle {
  text-align: center;
  width: 100%;
}

/* line 22, ../sass/pkp/_rightSidebar.scss */
#body {
  width: 100%;
}

/* line 26, ../sass/pkp/_rightSidebar.scss */
#rightSidebar {
  float: right;
  width: 14%;
  padding: 1em 0em 1em 0em;
  font-size: inherit;
  height: 100%;
  margin-right: 10%;
  margin-left: 2%;
}

/* line 37, ../sass/pkp/_rightSidebar.scss */
* html #rightSidebar {
  margin-right: 5%;
}

/* line 39, ../sass/pkp/_rightSidebar.scss */
#main {
  float: left;
  width: 63%;
  margin-left: 10%;
  display: inline;
  overflow: hidden;
}
