#pkp-manager-setup-journalPolicies {
	#reviewProcess {
		.separator {
			// The separator is useless here...
			display:none;
		}
		td.label {
			// Overrides align:right as an HTML property
			text-align:left;
		}
	}
	.instruct {
		display:block;
	}
}