#pkp-common-languages {
	td {
		text-align:left;
		@include breakpoint($medium) {
			text-align:inherit;
		}
	}
	table table.data {
		margin-top:rhythm(1);
		// @extend table.listing;
		tr:first-child { // Mirror the .heading class
			float:left;
			width:20% !important;
			td:first-child { // Emtpty useless!
				display:none;
			}
		}
	}
}

#installLanguages {
	tr td:first-child {
		// We force it to mimic the label behavior
		@extend td.label;
	}
	tr td:last-child {
		a {
			@include adjust-font-size-to($h5-font-size);
		}
	}
}

#installNewLocales {
	label, .formError {
		@extend td.label;
	}
	.button {
		// This is not a table so we have to apply manually the margin
		margin-top:rhythm(1);
	}
}