#page-user-userHome {
	#myJournals {
		h4 {
			a {
				@include matar-link($black);
			}
		}
	}
}

.journal-admin {
	padding:rhythm(0.5);
	background:$smoke;
	margin-bottom:rhythm(1);
}

.journal-admin__title {
	font-weight:bold;
	margin-bottom:rhythm(0.5);
	padding:rhythm(0.25) 0;
	border-bottom:1px solid $line-color;
	a {
		@include pintar-link($black);
	}
}

.journal-admin__role {
	margin-bottom:rhythm(1);
}

.journal-admin__count {
	display:inline-block;
	margin-right:$gutter / 2;
	font-family:$alt-font-family;
	a {
		@include pintar-link($black);
	}
}

.journal-admin__actions {
	margin-top:rhythm(0.5);
	text-align:right;
}