#pkp-user-userHome {
	// THIS IS PAINFUL AND MAKE MY EYES BLEED but we've got NO css selectors available!!
	#content > a:first-child {
		@extend input.button;
		display:inline-block;
		margin-bottom:rhythm(1);
	}
	#myJournals {
		h4 {
			// There is too much space here
			margin-bottom:0;
			// 
		}
		// A separator for every journal
		> div {
			border-bottom: 1px solid $line-color-light;
			margin-bottom:rhythm(0.5);
			&:last-child {
				// ...except the last one
				border-bottom:none;
			}
		}
	}
}