


/**
 * Access icons and key
 */
#accessKey {
	margin-bottom: 2em;
}

#accessKey img {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

#content img.accessLogo {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}


/**
 * Table of contents
 */

.tocArticle {
	width: 100%;
	padding: 5px 0;
}

.tocArticleCoverImage {
	display:none;
}
.tocArticleCoverImage.showCoverImage {
	display: table-cell;
	width: 15%;
}
.tocCoverImage {
	width: 100%;
}
.tocCoverImage img {
	border: 0;
	width: 100%;
}

.tocArticleTitleAuthors {
	width: 80%;
}
.tocArticleTitleAuthors.showCoverImage {
	width: 65%;
	padding-left: 10px;
}
.tocAuthors {
	padding-left: 10px;
}

.tocArticleGalleysPages {
	width: 20%;
}
.tocGalleys, .tocPages {
	text-align: right;
}



/**
 * Editorial Team Lists
 */

ol.editorialTeam {
}

ol.editorialTeam li {
	list-style: none;
}

ol.editorialTeam, ol.editorialTeam li {
	margin-left: 0;
	padding-left: 0;
}


/**
 * Additional text styles
 */

pre {
	background-color: #F0F0E8;
	color: #000;
	font-size: 1.25em;
}

/**
 * Table styles
 */

.highlightReviewerNotNotified, .highlightCopyediting {
	background: #EDEBC4;
}
.highlightNoDecision, .highlightLayoutEditing {
	background: #D8E9BD;
}
.highlightRevisedCopyUploaded, .higlightProofreading {
	background: #C6EBE4;
}
.highlightReviewerConfirmationOverdue {
	background: #9DD1E6;
}
.highlightReviewerCompletionOverdue {
	background: #74C5D8;
}

.fastTracked {
	background-color: #ABA;
}


/**
 * Other organizational elements
 */

div.progressbar {
	background-image: url(../templates/images/progbg.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 505px;
	z-index:1;
}

td.notificationContent {
	padding-left: 5px;
	padding-right: 5px;
}

td.notificationFunction {
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}

.throbber {
	display: none;
	background: url(../lib/pkp/templates/images/throbber.gif) no-repeat;
	width: 25px;
	height: 25px;
	margin-left: 50%;
	margin-top: 5%;
}

/* Font Sizer */
#journalListPageInfo {
	float: right;
}

#journalListPageLinks {
	float: left;
}


/* @group Tag-it */
// We have to normalize tagit inputs
// We wrap it inside #interests to ensure override

#interests {
	ul.tagit {
		// Normalize padding as inputs
		padding: 0 rhythm(0.25);
		//Overrides jQuery UI colors
		border: 1px solid #999;
		background:none;
		color:$font-color;
		// Border radius as input
		@include border-radius(2px);
		// Overrides jquery UI font size and family:
		@include adjust-font-size-to($h5-font-size);
		font-family:$helvetica;
	}

	ul.tagit li {
		// Normalize margins
		margin: 1px 5px 1px 0;
		// Overrides jQuery UI colors & background:
		border-color:#999;
		color:$font-color;
		background:none;
		font-weight:normal;
		// No border radius
		@include border-radius(0);
	}	

	ul.tagit li.tagit-choice {
		// Normalize padding and reduce size
		padding: 0 18px 0 5px;
	}
	ul.tagit li.tagit-new {
		// Normalize padding and reduce size. The extra pixel equals heights with already tagged <li>s
		padding: 1px 18px 1px 5px;
		input {
			// We need to be extra specific and repeat ourselves. Jquery UI really messes it up here
			font-family:$helvetica;
			@include adjust-font-size-to($h5-font-size);
		}
	}	

	ul.tagit li.tagit-choice .tagit-close {
		//Override color
		color:$font-color;
	}	

	.ui-autocomplete .ui-menu-item a {
		@include adjust-font-size-to($h5-font-size);
	}
}


/* @end */

