

 // Dialog modals

 .ui-dialog {
 	// White bg
 	background:#fff;
 	// padding in vrhythm
 	padding:rhythm(0.5);
 	// No border radius
 	@include border-radius(0);
 	// Forces to take 99% width to avoid overflow (present in original CSS; but overriden)
 	.pkp_form select {
		width:99%;
 	}
 }

 .ui-dialog .ui-dialog-content {
 	// Padding was already set
 	padding:0;
 	h3 {
 		// Explicit override because theme.css messes it all!
 		font-family: $headlines;
 		// No margin inside modal
 		margin-top:0;
 	}
 }

 .ui-widget {
 	// Reset to original font
 	font-family: $base-font-family;
 }

 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
 	border:none;
 	background:none;
 	color:inherit;
 }

