


/**
 * Access icons and key
 */
#accessKey {
	margin-bottom: 2em;
}

#accessKey img {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

#content img.accessLogo {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}


/**
 * Table of contents
 */

.tocArticle {
	width: 100%;
	padding: 5px 0;
}

.tocArticleCoverImage {
	display:none;
}
.tocArticleCoverImage.showCoverImage {
	display: table-cell;
	width: 15%;
}
.tocCoverImage {
	width: 100%;
}
.tocCoverImage img {
	border: 0;
	width: 100%;
}

.tocArticleTitleAuthors {
	width: 80%;
}
.tocArticleTitleAuthors.showCoverImage {
	width: 65%;
	padding-left: 10px;
}
.tocAuthors {
	padding-left: 10px;
}

.tocArticleGalleysPages {
	width: 20%;
}
.tocGalleys, .tocPages {
	text-align: right;
}



/**
 * Editorial Team Lists
 */

ol.editorialTeam {
}

ol.editorialTeam li {
	list-style: none;
}

ol.editorialTeam, ol.editorialTeam li {
	margin-left: 0;
	padding-left: 0;
}


/**
 * Additional text styles
 */

pre {
	background-color: #F0F0E8;
	color: #000;
	font-size: 1.25em;
}



/**
 * Other organizational elements
 */

div.progressbar {
	background-image: url(../templates/images/progbg.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 505px;
	z-index:1;
}

td.notificationContent {
	padding-left: 5px;
	padding-right: 5px;
}

td.notificationFunction {
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}

.throbber {
	display: none;
	background: url(../lib/pkp/templates/images/throbber.gif) no-repeat;
	width: 25px;
	height: 25px;
	margin-left: 50%;
	margin-top: 5%;
}

/* Font Sizer */
#journalListPageInfo {
	float: right;
}

#journalListPageLinks {
	float: left;
}

