/**
 * Overrides OJS's styles/rightSidebar.css
 */

/**
 * Common HTML elements
 */


// Modificaremos el layout en proximas ediciones
#leftSidebar {
	float: left;
	width: 17%;
	// No padding
	padding: 0;
	// Inherits from $base-font-size
	font-size: inherit;
	// We don't use 10% margin to separate content from the left since we're using #container
	// as a main wrapper.
	margin-left: 0%;
	// We want sidebar to sum up 20% of total width
	margin-right: 3%;
}

* html #leftSidebar {
	// Won't be needing margin here, but still need to explicitly override
	margin-right: 0%;
}
