/**
 * Overrides OJS's base stylesheet /lib/pkp/styles/common.css.
 *
 */

/**
 * Common HTML elements
 */

body {
	// Must explicitly override the background color. TODO: ¿Set in variable?
	background-color: transparent;
	color: $font-color;
	font-family: $base-font-family;
}

p {
	// We use rem
	margin: 1rem 0; /* Making default stylesheet explicit - fixes IE7 margin collapsing. */
}

table {
	// We use rem
	font-size: 1.0rem;
}

a {
	// No text underline at all.
	// If needed, we prefer to use border-bottom
	text-decoration:none;
}

ul {
	// Set values using compass' vertical rhythm
	margin: rhythm(0.5) 0;
	padding: 0 0 0 rhythm(1);
}

tt {
	// font-size: 1.25em;
}

label.error {
	color: #900;
}

input.uploadField {
	// Upload fields are a bit different
	border:none;
	@include adjust-font-size-to($h5-font-size, 1);
	font-family: $helvetica;
	background:none;
}



input.defaultButton {
	// Stop using that green!
	background-color: $default-button;
	// We check the user input value and decide the color of our font:
	@if lightness($default-button) >= 50 {
		color: #000;
	} @else {
		color: #fff;
	}
	font-weight: bold;
	&:hover {
		border-color: $default-button;
	}
}

// All cases on which submits need to be smaller

td.value // Inside value cells
	{
	input[type="submit"] {
		@include adjust-font-size-to($h5-font-size, 0.75);
		padding: 0 5px;
	}
}


// Why? OJS seems to have only "journal footers", not "general" ones.
// These IDs seem to be useless... (let's see)
#footer {
	width: 100%;
	min-height: 50px;
	position: static;
	clear: both;
	text-align: center;
}

#footerContent {
	width: 100%;
	margin: 0 auto;
	padding-left: 10%;
}

#main h2 {
	// Reset padding/margin and set correct font
	margin: 0 0 rhythm(1) 0;
	padding: 0;
	font-family: $headlines;
	font-weight: normal;
	border-bottom:1px dotted #ccc;
}

#main h3 {
	margin: 0 0 rhythm(1) 0;
	padding-top: 0;
	font-family: $headlines;
	font-weight: 300;
}

#navbar {
	// Reset to 0 and use a lighter border
	margin-right: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #000;
}

#breadcrumb {
	// Set padding to zero and margin bottom
	padding: rhythm(0.125) 0 0 0;
	margin-bottom:$base-line-height;
	// Whenewer we want a different font-size, we use one of our predefined font-sizes.
	// This font-sizes were calculated using "perfect fourth" aspect ratio.
	@include adjust-font-size-to($h6-font-size);
	font-family:$helvetica;
	letter-spacing:0.05rem;
	text-transform:uppercase;
}

#content {
	// No margins or paddings
	margin: 0;
	padding: 0;
	// We need to inherit the original $base-font-family
	font-size: inherit;
	// Border should be a property of <h2>, <h3> elements.
	// 2px dotted borders are out of discussion.
	// Explicitly override all borders
	border: none;
}

#content h3 {
	// Reset padding/margin and set correct font
	margin: 0 0 rhythm(1) 0;
	padding:0;
	font-family: $headlines;
	@include adjust-font-size-to($h3-font-size);
}

#content h4 {
	margin: 0 0 rhythm(1) 0;
	font-family: $headlines;
	@include adjust-font-size-to($h4-font-size);
}

#content h5 {
	margin: 0 0 rhythm(1) 0;
	padding:0;
	@include adjust-font-size-to($h5-font-size);
}


/**
 * Breadcrumbs
 */

// Should we set a different style for "active" pages in crumbs??
#breadcrumb a.current {
	font-weight: bold;
}


/**
 * Footer elements
 */

#footer div.debugStats {
	font-size: 0.6em;
}


/**
 * Additional text styles
 */

// Still need to see those in action
span.disabled, label.disabled {
	color: #666;
}

a.action, a.file {
	font-size: 0.85em;
	text-transform: uppercase;
}

a.icon {
	text-decoration: none;
}

a.icon img {
	border: 0;
}

a.icon:hover {
	background: none;
}

span.heading {
	font-size: 0.85em;
	text-transform: uppercase;
}

span.highlight {
	border-bottom: 1px dotted #000;
}

div.warningMessage {
	background: url(../templates/images/icons/icon_alert.gif) no-repeat 3px 40%;
	margin: 5px;
	padding: 5px 5px 5px 25px;
}

.nowrap {
	white-space: nowrap;
}

/**
 * Table styles
 */

table.info td {
	padding: 0;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

table.listing td {
	padding: 0.25em 1.5em 0.25em 0.5em;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0.75em 1.5em 1em 0.5em;
}

table.info td.heading {
	padding-left: 0;
}


table.listing td.nodata, table.info td.nodata {
	text-align: center;
	font-style: italic;
}

table.listing td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.listing td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.listing td.separator, table.info td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.data td {
	// Express it as vertical rhythm units
	padding-bottom: rhythm(0.5);
}

table.data td.label {
	// Express it as vetical rhythm units
	padding-right: rhythm(1);
	// We prefer to style labels differently:
	font-family:$helvetica;
	@include adjust-font-size-to($h5-font-size);
	font-weight:bold;
}

table.data td.separator {
	// Make the separator bigger
	padding: rhythm(1);
}

table.data td.heading {
	padding-left: 0;
	padding-right: 0;
}

table.nested tr {
	padding: 0;
	margin: 0;
}

span.nested {
	padding: 0 4px 0 0;
	font-size: 1.2em;
}


// TABLE HACKS AND FIXES

// We prefer to style instructions and form helpers differently:
.instruct, span.formRequired {
	font-family:$helvetica;
	@include adjust-font-size-to($h5-font-size);
}

// There are strong inconsistencies inside OJS tables. 
// Some instructions have a .instruct and span in their own <tr> row 
// while others are put inside the main <td>, alongside the <input> and without class.
// We have to be hacky: we style every td.value and then undo the changes inside every input.
// OJS tables are very poorly styled indeed...
td.value, td.data, td label {
	// Those are the .instruct styles
	font-family:$helvetica;
	@include adjust-font-size-to($h5-font-size);
}

// Harcoded valign = top on <td> elements unaligns checkboxes and select boxes respect to the text
// This is a Hacky fix, since we can't access the HTML.
td input[type="checkbox"], td input[type="radio"] {
	margin-top:7px;
}

/**
 * Form-specific elements
 */

span.pkp_form_error { /* Named for compatibility with new lessphp structure */
	color: #900;
	font-weight: bold;
	font-size: 1em;
}

span.pkp_form_success { /* Named for compatibility with new lessphp structure */
	color: #090;
	font-weight: bold;
	font-size: 1em;
}

ul.pkp_form_error_list { /* Named for compatibility with new lessphp structure */
	color: #900;
}


/**
 * Other organizational elements
 */

ul.menu li {
	// Use vertical rhythm units also for horizontal spacing.
	margin-right: rhythm(1);
	padding:0;
	// We want to give menu items more space for touch-enabled devices...
	float:left;
	display:block;
}

// Should we use a different, more original, way to mark "active" items??
ul.menu li.current {
	font-weight: bold;
}

ul.menu a {
	// Let the link expand to fill all available space
	display:block;
	// Use our font sizes
	@include adjust-font-size-to($base-font-size);
	// Use our headings font
	font-family: $headlines;
}

// Steplist is used in config sections
ul.steplist {
	// Respect vrhythm
	margin: rhythm(1) 0;
	// list-style-type: decimal; // WHY in hell use an <ul> instead of <ol> and then give it a decimal style type???
}

ul.steplist li {
	// Use our font sizing
	@include adjust-font-size-to($base-font-size);
	// Separate using a border
	margin-right: rhythm(0.5);
	padding-right:rhythm(0.5);
	border-right: 1px solid #ccc;
}

ul.steplist li.current a {
	// add a border
	border-bottom:rhythm(0.125) solid #ccc;
	margin-bottom:rhythm(-0.125);
}

ul.plain {
	list-style-type: none;
	padding-left: 1.5em;
}

ul.filter {
	margin: 0;
	padding: 1.5em 0 1.5em 0;
	list-style-type: none;
}

ul.filter li {
	padding-right: 1.5em;
	display: inline;
}


/**
 * Other organizational elements
 */

div.separator {
	// Set a bigger margin
	margin:rhythm(1) 0;
	border-bottom: 2px solid #CCC;
	position:relative;
	// let's embellish it
	&:before {
		content:"";
		border-width:rhythm(0.33);
		border-style:solid;
		border-color:#CCC #CCC transparent transparent;
		position:absolute;
		top:0;
		right:0;
	}
}
