/**
 * Overrides OJS's base stylesheet /lib/pkp/styles/common.css.
 *
 */

/**
 * Common HTML elements
 */

body {
	// Must explicitly override the background color. TODO: ¿Set in variable?
	background-color: transparent;
	color: $font-color;
	font-family: $base-font-family;
}

p {
	// We use rem
	margin: 1rem 0; /* Making default stylesheet explicit - fixes IE7 margin collapsing. */
}

table {
	// We use rem
	font-size: 1.0rem;
}

a {
	// No text underline at all.
	// If needed, we prefer to use border-bottom
	text-decoration:none;
}

ul {
	// Set values using compass' vertical rhythm
	margin: rhythm(0.5) 0;
	padding: 0 0 0 rhythm(1);
}

tt {
	// font-size: 1.25em;
}

label.error {
	color: #900;
}

input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	// No background for inpunts, just a clean box
	background-color: #fff;
	// As an exception, we use Helvetica/Arial for the sake of legibility
	font-family: $helvetica;
	// We want a clean, plain border.
	border: 1px solid #999;
	// Some padding to enhance legibility
	padding:0 rhythm(0.25);
	// A small border-radius.
	// It is a convention that user inout (buttons, forms) have some kind of radius.
	// we try to follow convention without exxagerating to keep the design clean and minimal.
	@include border-radius(2px);
	// Font size
	@include adjust-font-size-to($base-font-size);
}

input.button {
	// Padding as vertical rhythm.
	// We need big, touch-screen ready buttons. That's why we set padding on four sides.
	padding:rhythm(0.125) rhythm(0.5);
	// Stop using that green!
	background-color: $button;
	// We check the user input value and decide the color of our font:
	@if lightness($button) >= 50 {
		color: #000;
	} @else {
		color: #fff;
	}
	// Inherit font but make it smaller
	@include adjust-font-size-to($base-font-size);
	font-family:$headlines;
	// Flat design
	border:none;
	// Uppercase works better than lowercase.
	text-transform:uppercase;
	// A small border-radius.
	// It is a convention that user inout (buttons, forms) have some kind of radius.
	// we try to follow convention without exxagerating to keep the design clean and minimal.
	@include border-radius(3px);
	// WTF
	letter-spacing:1px;
	// Animate border on hover
	border:rhythm(0.125) solid transparent;
	&:hover {
		border-color:$button;
		background:none;
		color:$font-color;
	}
}

input.defaultButton {
	// Stop using that green!
	background-color: $default-button;
	// We check the user input value and decide the color of our font:
	@if lightness($default-button) >= 50 {
		color: #000;
	} @else {
		color: #fff;
	}
	font-weight: bold;
	&:hover {
		border-color: $default-button;
	}
}


/**
 * Main layout elements
 */

#container {
	// Existent min-width disables responsive web design.
	// We have to explicitly override it and keep the !important tag.
	min-width: 0 !important;
	// We prefer centered content. It's just an opinionated design choice - and it's easier for RWD
	// To completely redo the main layout, we start by making #container the main wrapper.
	max-width: $max-width;
}

#header {
	width: 100%;
	text-align: center;
	// Separate header from main elements... let it breathe
	margin-bottom:rhythm(1);
}

#header h1 {
	// Use vertical rhythm & stop using 10% to separate it from the left side since we use the #container wrapper.
	padding: rhythm(1) 0 0 0;
	// We need to override again the font-family
	// Can't understad why this wasn't defined as h1, h2, h3 { } ...
	font-family: $headlines;
	font-weight: bold;
}

// We insert a clearfix inside body because we don't want it to lose its height (all its child elements are floated)
#body {
	@include pie-clearfix();
}


// Why? OJS seems to have only "journal footers", not "general" ones.
// These IDs seem to be useless... (let's see)
#footer {
	width: 100%;
	min-height: 50px;
	position: static;
	clear: both;
	text-align: center;
}

#footerContent {
	width: 100%;
	margin: 0 auto;
	padding-left: 10%;
}

#main {
	// We want #main to occupy all space left by sidebars
	width:auto;
	// Reset padding to 0
	padding: 0;
	// We don't use 10% margin to separate content from the left since we're using #container
	// as a main wrapper.
	margin:0;
	// We don't want it to behave inline
	display:block;
	// And we don't want a float
	float:none;
}

#main h2 {
	// Reset padding/margin and set correct font
	margin: 0 0 rhythm(1) 0;
	padding-top: 0;
	font-family: $headlines;
	font-weight: 700;
}

#main h3 {
	margin: 0 0 rhythm(1) 0;
	padding-top: 0;
	font-family: $headlines;
	font-weight: 300;
}

#navbar {
	// Reset to 0 and use a lighter border
	margin-right: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #000;
}

#breadcrumb {
	// Set padding top / bottom to half a vertical unit
	padding: rhythm(0.5) 0;
	// Whenewer we want a different font-size, we use one of our predefined font-sizes.
	// This font-sizes were calculated using "perfect fourth" aspect ratio.
	@include adjust-font-size-to($h5-font-size);
}

#content {
	// No margins or paddings
	margin: 0;
	padding: 0;
	// We need to inherit the original $base-font-family
	font-size: inherit;
	// Border should be a property of <h2>, <h3> elements.
	// 2px dotted borders are out of discussion.
	// Explicitly override all borders
	border: none;
}

#content h3 {
	// Reset padding/margin and set correct font
	margin:0;
	padding:0;
	font-family: $headlines;
	@include adjust-font-size-to($h3-font-size);
}

#content h4 {
	margin: 0;
	font-family: $headlines;
	@include adjust-font-size-to($h4-font-size);
}

#content h5 {
	margin: 0;
	padding:0;
	@include adjust-font-size-to($h5-font-size);
}


/**
 * Breadcrumbs
 */

// Should we set a different style for "active" pages in crumbs??
#breadcrumb a.current {
	font-weight: bold;
}


/**
 * Footer elements
 */

#footer div.debugStats {
	font-size: 0.6em;
}


/**
 * Additional text styles
 */

// Still need to see those in action
span.disabled, label.disabled {
	color: #666;
}

a.action, a.file {
	font-size: 0.85em;
	text-transform: uppercase;
}

a.icon {
	text-decoration: none;
}

a.icon img {
	border: 0;
}

a.icon:hover {
	background: none;
}

span.heading {
	font-size: 0.85em;
	text-transform: uppercase;
}

span.highlight {
	border-bottom: 1px dotted #000;
}

div.warningMessage {
	background: url(../templates/images/icons/icon_alert.gif) no-repeat 3px 40%;
	margin: 5px;
	padding: 5px 5px 5px 25px;
}

.nowrap {
	white-space: nowrap;
}

/**
 * Table styles
 */

table.info td {
	padding: 0;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

table.listing td {
	padding: 0.25em 1.5em 0.25em 0.5em;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0.75em 1.5em 1em 0.5em;
}

table.info td.heading {
	padding-left: 0;
}


table.listing td.nodata, table.info td.nodata {
	text-align: center;
	font-style: italic;
}

table.listing td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.listing td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.listing td.separator, table.info td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.data td {
	// Express it as vertical rhythm units
	padding-bottom: rhythm(0.5);
}

table.data td.label {
	// Express it as vetical rhythm units
	padding-right: rhythm(1);
	// We prefer to style labels differently:
	font-family:$helvetica;
	@include adjust-font-size-to($h45-font-size);
	font-weight:bold;
}

table.data td.separator {
	padding: 0.5em;
	font-size: 0.1em;
	line-height: 1%;
}

table.data td.heading {
	padding-left: 0;
	padding-right: 0;
}

table.nested tr {
	padding: 0;
	margin: 0;
}

span.nested {
	padding: 0 4px 0 0;
	font-size: 1.2em;
}


// We prefer to style isntructions and form helpers differently:
.instruct, span.formRequired {
	font-family:$helvetica;
	@include adjust-font-size-to($h45-font-size);
}

// There are strong inconsistencies inside OJS tables. 
// Some instructions have a .instruct and span in their own <tr> row 
// while others are put inside the main <td>, alongside the <input> and without class.
// We have to be hacky: we style every td.value and then undo the changes inside every input.
// OJS tables are very poorly styled indeed...
td.value {
	// Those are the .instruct styles
	font-family:$helvetica;
	@include adjust-font-size-to($h45-font-size);
	input {
		// And those are the general input styles.
		@include adjust-font-size-to($base-font-size);
	}
}

/**
 * Form-specific elements
 */

span.pkp_form_error { /* Named for compatibility with new lessphp structure */
	color: #900;
	font-weight: bold;
	font-size: 1em;
}

span.pkp_form_success { /* Named for compatibility with new lessphp structure */
	color: #090;
	font-weight: bold;
	font-size: 1em;
}

ul.pkp_form_error_list { /* Named for compatibility with new lessphp structure */
	color: #900;
}


/**
 * Other organizational elements
 */

ul.menu li {
	// Use vertical rhythm units also for horizontal spacing.
	margin-right: rhythm(1);
	padding:0;
	// We want to give menu items more space for touch-enabled devices...
	float:left;
	display:block;
}

// Should we use a different, more original, way to mark "active" items??
ul.menu li.current {
	font-weight: bold;
}

ul.menu a {
	// Let the link expand to fill all available space
	display:block;
	// Use our font sizes
	@include adjust-font-size-to($base-font-size);
	// Use our headings font
	font-family: $headlines;
}

ul.steplist {
	margin: 0;
	padding: 0;
	list-style-type: decimal;
}

ul.steplist li {
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	padding-right: 0.5em;
	display: inline;
	text-transform: uppercase;
}

ul.steplist li.current {
	font-weight: bold;
}

ul.steplist a {
	text-decoration: none;
}

ul.plain {
	list-style-type: none;
	padding-left: 1.5em;
}

ul.filter {
	margin: 0;
	padding: 1.5em 0 1.5em 0;
	list-style-type: none;
}

ul.filter li {
	padding-right: 1.5em;
	display: inline;
}


/**
 * Other organizational elements
 */

div.separator {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0.25em;
	padding: 0;
	border-bottom: 1px dotted #000;
	font-size: 0.5em;
	line-height: 25%;
}
