/**
 * Overrides OJS's base stylesheet /lib/pkp/styles/common.css.
 *
 */

/**
 * Common HTML elements
 */

label.error {
	color: #900;
}

input.uploadField {
	// Upload fields are a bit different
	border:none;
	@include adjust-font-size-to($h5-font-size, 1);
	font-family: $helvetica;
	background:none;
}

/**
 * Additional text styles
 */

// Still need to see those in action
span.disabled, label.disabled {
	color: #666;
}

a.icon {
	text-decoration: none;
}

a.icon img {
	border: 0;
}

a.icon:hover {
	background: none;
}

span.heading {
	font-size: 0.85em;
	text-transform: uppercase;
}

span.highlight {
	border-bottom: 1px dotted #000;
}

div.warningMessage {
	background: url(../templates/images/icons/icon_alert.gif) no-repeat 3px 40%;
	margin: 5px;
	padding: 5px 5px 5px 25px;
}

.nowrap {
	white-space: nowrap;
}



/**
 * Form-specific elements
 */

span.pkp_form_error { /* Named for compatibility with new lessphp structure */
	color: #900;
	font-weight: bold;
	font-size: 1em;
}

span.pkp_form_success { /* Named for compatibility with new lessphp structure */
	color: #090;
	font-weight: bold;
	font-size: 1em;
}

ul.pkp_form_error_list { /* Named for compatibility with new lessphp structure */
	color: #900;
}


/**
 * Other organizational elements
 */



ul.plain {
	list-style-type: none;
	padding-left: 1.5em;
}

ul.filter {
	margin: 0;
	padding: 1.5em 0 1.5em 0;
	list-style-type: none;
}

ul.filter li {
	padding-right: 1.5em;
	display: inline;
}


/**
 * Other organizational elements
 */