/**
 * Overrides OJS's styles/rightSidebar.css
 */

/**
 * Common HTML elements
 */


// Modificaremos el layout en proximas ediciones
#rightSidebar {
	float: right;
	width: 14%;
	// No padding
	padding: 0;
	// Inherits from $base-font-size
	font-size: inherit;
	height: 100%;
	margin-right: 10%;
	margin-left: 2%;
}

* html #rightSidebar {
	// Won't be needing margin here, but still need to explicitly override
	margin-right: 0%;
}
