/**
 * Announcements
 */

.announcement {
	padding:rhythm(0.5);
	margin-bottom:rhythm(1);
	background:$smoke;
}

.announcement__title {
	@include adjust-font-size-to($h4-font-size, 1);
}

.announcement__description {
	margin-bottom:rhythm(1);
	@include adjust-font-size-to($h5-font-size);
	p {
		&:last-child {
			margin-bottom:0;
		}
	}
}

.announcement__details {
	@include adjust-font-size-to($h6-font-size);
}

.announcement__more {
	float:right;
	@include adjust-leading-to(1);
	@extend .fa;
	@extend .fa-chevron-circle-right;
}

.announcements__more {
	margin-bottom:rhythm(1);
}