#breadcrumb {
	@if ($show-breadcrumbs != true) {
		display:none;
	}
	// Set padding to zero and margin bottom
	padding: 0;
	@include adjust-font-size-to($h6-font-size,0.75);
	// Whenewer we want a different font-size, we use one of our predefined font-sizes.
	// This font-sizes were calculated using "perfect fourth" aspect ratio.
	a, span {
		font-family:$helvetica;
		letter-spacing:-0.02rem;
		text-transform:uppercase;
	}
	// Mobile-first;
	text-align:center;
	@include breakpoint($small) {
		text-align:left;
	}
	@include invert-if-dark($nav-background-color);
}