//
// page revista/manager/setup/
//

// Layout configuracion table
#assignBlocksToSidebars {
	background:$smoke;
	@include border-radius(4px);
	tr {
		td {
			padding:rhythm(0.5);
			font-family:$alt-font-family;
			input.button {
				// Reset the original button
				border:none;
				@include border-radius(0);
				background-color:$light-color;
				color:$black;
			}
		}
	}
}