 .pkp_controllers_grid {
 	// use vertical rhythm
 	margin-bottom:rhythm(1);
 	padding:rhythm(0.5);
 	// Use a box to indicate this is a plugin
 	border:1px solid $line-color-light;
 	background:$white;
 	h3 {
 		margin:0;
 	}
 	table {
 		th, td {
 			text-align:left !important;
 		}
 	}
 }

 .pkp_controllers_grid .wrapper {
 	// use vertical rhythm
 	margin-bottom:rhythm(1);
 }