// We don't have time to modify the controller's HTML
// so we override it.

 .pkp_controllers_grid {
 	// use vertical rhythm
 	margin-bottom:rhythm(1);
 	padding:rhythm(0.5);
 	// Use a box to indicate this is a plugin
 	border:1px solid $line-color-light;
 	background:$white;
 	h3 {
 		margin:0;
 	}
 	table {
 		th {
 			text-align:left !important;
 		}
 		@extend %table-pseudoresponsive;
 	}
 	.row_controls {
 		td {
 			padding:0;
 			text-align:right;
 		}
 		a {
 			@extend .button;
 			@extend .button--small;
 			&.delete {
 				@extend .button--cancel;
 			}
 		}
 	}
 	.hidetext {
 		@extend .action;
 	}
 }

 .pkp_controllers_grid .wrapper {
 	// use vertical rhythm
 	margin-bottom:rhythm(1);
 }