/*
 * Forms are messy.
 * Everything around OJS is messy.
 * But forms are a disaster
 * Please forgive all the nonsensical CSS here.
 */

// INPUTS

input,
select {
	@include adjust-font-size-to($h5-font-size);
	@include adjust-leading-to(1);
	height:rhythm(1.5);
	// No background for inputs, just a clean box
	background-color: #fff !important;
	// Custom border-radius
	border-radius: $border-radius;
	// We want a clean, plain border.
	border: 1px solid $light-color;
	// Explicityly override color and font
	color: $font-color;
	font-family:$sans-serif;
	// NEVER grow bigger than the container
	max-width:100%;
	vertical-align:middle;
}

select {
	// Select needs a little help to conform to line-height standards
	padding:rhythm(0.125) 0;
	height:rhythm(1.5);
	option {
		// Source of many layout problems: option shouldn't grow bigger than its parent
		max-width:100%;
	}
}

input[type="text"], input[type="password"] {
	// Some padding to enhance legibility
	padding:0 rhythm(0.25);
}

input[type="submit"] {
	@include adjust-font-size-to($h5-font-size, 0.5);
	padding: 0 5px;
}

input[type="file"] + input[type="submit"] { // Adapts height of button next to file uploads
	padding: rhythm(0.125) rhythm(0.5);
	height:rhythm(1.25);
	vertical-align:baseline;
}

//
// BUTTONS
//

.button {
	// Padding as vertical rhythm.
	// We need big, touch-screen ready buttons. That's why we set padding on four sides.
	padding:rhythm(0.25) rhythm(0.5);
	height:rhythm(1.5);
	display:inline-block;
	vertical-align:middle;
	// Inherit font but make it smaller
	@include adjust-font-size-to($base-font-size);
	// @include adjust-leading-to(1);
	font-family:$font-button;
	// Uppercase works better than lowercase.
	text-transform:uppercase;
	border-radius:$button-border-radius;
	cursor:pointer;
	// In case it was a link button
	text-decoration:none;
	&:hover {
		text-decoration:none;
	}
	@if $button-style == fill  {
		background-color: $button-color;
		border:none;
		// We check the user input value and decide the color of our font:
		@if lightness($button-color) >= 50 {
			color: $font-color;
		} @else {
			color: $white;
		}
		&:hover {
			background:shade($button-color, 33%);
		}
	} @else if $button-style == outline {
		background-color: transparent;
		border:$button-border-width solid $button-color;
		color: $font-color;
		&:hover {
			background:$button-color;
			@if lightness($button-color) >= 50 {
				color: $font-color;
			} @else {
				color: $white;
			}
		}
	} @else {
		@error "Invalid value for $button-style in _init.scss. It must be either outline or fill"
	}
}

//
// FORMS
//

.settings-form {

}

.form-item {
	margin-bottom:rhythm(1);
	label {
		font-family:$alt-font-family;
		font-weight:bold;
		display:block;
	}
}

.form-subitem {
	display:block;
	margin-left:$gutter;
	padding-bottom:rhythm(0.5);
	padding-left:$gutter;
	border-left:1px solid $line-color;
	&:last-of-type {
		padding-bottom:0;
	}
	label {
		font-weight:normal;
		display:inline-block;
		margin:0 $gutter/2;
	}
}

.instruct {
	font-family:$alt-font-family;
	@include adjust-leading-to(0.75);
	margin:0;
	@include breakpoint($small) {
		@include adjust-font-size-to($h5-font-size, 0.75);
	}
}