/*
 * Forms are messy.
 * Everything around OJS is messy.
 * But forms are a disaster
 * Please forgive all the nonsensical CSS here.
 */

form {
	margin-bottom:rhythm(1);
}

// INPUTS

input,
select {
	@include adjust-font-size-to($h5-font-size, 1.25);
	// No background for inputs, just a clean box
	background-color: transparent;
	// Custom border-radius
	border-radius: $border-radius;
	// We want a clean, plain border.
	border: 1px solid $light-color;
	// Explicityly override color and font
	color: $font-color;
	font-family:$sans-serif;
	// NEVER grow bigger than the container
	max-width:100%;
	vertical-align:middle;
}

select {
	padding:rhythm(0.27) 0;
	option {
		// Source of many layout problems: option shouldn't grow bigger than its parent
		max-width:100%;
	}
}

input[type="text"], input[type="password"] {
	// Some padding to enhance legibility
	padding:0 rhythm(0.25);
}

textarea {
	width:100%;
}


//
// BUTTONS
//

.button {
	// Padding as vertical rhythm.
	// We need big, touch-screen ready buttons. That's why we set padding on four sides.
	padding:0 rhythm(0.5);
	display:inline-block;
	vertical-align:middle;
	// Inherit font but make it smaller
	@include adjust-font-size-to($base-font-size);
	@include adjust-leading-to(1.25);
	font-family:$font-button;
	// Uppercase works better than lowercase.
	text-transform:uppercase;
	border-radius:$button-border-radius;
	cursor:pointer;
	// In case it was a link button
	text-decoration:none;
	&:hover {
		text-decoration:none;
	}
	@if $button-style == fill  {
		background-color: $button-color;
		border:none;
		// We check the user input value and decide the color of our font:
		@if lightness($button-color) >= 50 {
			color: $font-color;
			&:link, &:visited, &:focus, &:active {
				color: $font-color;
			}
		} @else {
			color: $white;
			&:link, &:visited, &:focus, &:active {
				color: $white;
			}
		}
		&:hover {
			background:shade($button-color, 33%);
		}
	} @else if $button-style == outline {
		background-color: #fff;
		border:$button-border-width solid $button-color;
		color: $font-color;
		&:link, &:visited, &:focus, &:active {
			color: $font-color;
		}
		&:hover {
			background:$button-color;
			@if lightness($button-color) >= 50 {
				color: $font-color;
			} @else {
				color: $white;
			}
		}
	} @else {
		@error "Invalid value for $button-style in _init.scss. It must be either outline or fill"
	}
}

.button--cancel {
	@if $button-style == fill  {
		background-color: $button-cancel-color;
		// We check the user input value and decide the color of our font:
		@if lightness($button-cancel-color) >= 50 {
			color: $font-color;
			&:link, &:visited, &:focus, &:active {
				color: $font-color;
			}
		} @else {
			color: $white;
			&:link, &:visited, &:focus, &:active {
				color: $white;
			}
		}
		&:hover {
			background:shade($button-cancel-color, 33%);
		}
	} @else if $button-style == outline {
		border:$button-border-width solid $button-cancel-color;
		&:hover {
			background:$button-cancel-color;
			@if lightness($button-cancel-color) >= 50 {
				color: $font-color;
			} @else {
				color: $white;
			}
		}
	} @else {
		@error "Invalid value for $button-style in _init.scss. It must be either outline or fill"
	}
}

.button--small {
	padding:0 rhythm(0.25);
	@include adjust-font-size-to($h5-font-size);
}
//
// FORMS
//

.settings-form {
	select + input[type="submit"],
	input + input[type="submit"]  {
		// If there is a select and a input, we make the borders collapse.
		// Hackish, but beautiful and degrades gracefully.
		margin-left:-1px;
	}
	input[type="file"] + input[type="submit"], 
	.instruct + input[type="submit"] { // Adapts height of button next to file uploads
		vertical-align:baseline;
		margin-left:$gutter / 2;
	}
}

.form-row {
	margin-bottom:rhythm(0.75);
	padding-bottom:rhythm(0.75);
	border-bottom:1px dotted $line-color-light;
	label, .label {
		font-weight:bold;
		margin-bottom:rhythm(0.5);
		display:block;
		.instruct {
			font-weight:normal;
			display:block;
		}
	}
	.label--inline {
		display:inline;
		margin-right: $gutter/2;
		margin-bottom:0;
	}
	.label--normal {
		font-weight:normal;
	}
}

.form-subrow {
	padding-left:1.25 *$gutter;
	margin-left:0.25 * $gutter;
	border-left:1px solid $line-color-light;
	&:last-of-type {
		padding-bottom:0;
	}
	label {
		font-weight:normal;
		display:inline;
		font-family:$alt-font-family;
		margin:0 $gutter 0 0;
	}
	.label--heading {
		font-weight:bold;
		display:block;
		margin:0 $gutter rhythm(0.5) 0;
	}
}

.form-group {
	margin-bottom:rhythm(0.5);
}

.instruct {
	font-family:$alt-font-family;
	@include adjust-leading-to(0.75);
	margin:0;
	@include breakpoint($small) {
		@include adjust-font-size-to($h5-font-size, 0.75);
	}
}

.instruct--spaced {
	margin-bottom:rhythm(1);
}

.buttons {
	padding: $gutter/2;
	background: $smoke;
	margin-bottom:rhythm(1);
	border-bottom:1px solid $line-color;
}

.options {
	@include adjust-font-size-to($h5-font-size);
	font-family:$alt-font-family;
	a {
		@include adjust-font-size-to($h5-font-size);
	}
}

.form-required {
	@include adjust-font-size-to($h5-font-size);
	font-family:$alt-font-family;
	color:$light-color;
}

.form-error {
	color:$main-color-red;
	@include adjust-font-size-to($h5-font-size);
}

.form-error--box {
	background:$main-color-red;
	padding:rhythm(0.25) rhythm(0.5);
	color:$white;
}

input:disabled, .disabled {
	opacity:0.5;
	&:hover, &:focus {
		color:inherit;
		background:inherit;
		border-color:inherit;
	}
}