#header-title {
	@include breakpoint($small) {
		text-align:$header-alignment;
	}
	h1 {
		margin:0;
		@include adjust-font-size-to($big);
	}
	h1 img {
		// Responsive image
		max-width:100%;
		height:auto;
		// Prevents spacing below image
		display:inline-block;
		vertical-align:bottom;
	}
}