.issue-section {
	margin-bottom:rhythm(1);
	&:last-child {
		marign-bottom:0;
	}
}

.issue-section__title  {
	border-bottom:2px solid $line-color-light;
}

.issue-article {
	margin-bottom:rhythm(1);
	&:last-child {
		margin-bottom:0;
	}
	@include breakpoint($medium){
		display:flex;
		flex-direction:row;
	}
}

.issue-toc {
	@include adjust-font-size-to($h4-font-size);
}

.issue-article__title {

}

.issue-article__authors {
	@include adjust-font-size-to($h5-font-size);
	font-weight:bold;
	font-style:italic;
	i {
		margin-right:3px;
		color:$light-color;
		vertical-align:baseline;
	}
}

.issue-article__galleys {
	padding:0 0 0 $gutter;
	text-align:right;
	min-width:25%;
	@include breakpoint($medium){
		margin-left:auto;
	}
	li {
		list-style-type:none;
		a {
			@include matar-link();
			@include adjust-font-size-to($h6-font-size,0.75);
			display:block;
		}
	}
}