// #main h2 {
// 	// Reset padding/margin and set correct font
// 	margin: 0 0 rhythm(1) 0;
// 	padding: 0;
// 	font-family: $headlines;
// 	font-weight: normal;
// 	border-bottom:1px solid $line-color;
// }

// #main h3 {
// 	// Reset padding/margin and set correct font
// 	margin: 0 0 rhythm(1) 0;
// 	padding-top: 0;
// 	font-family: $headlines;
// }

#content {
	// No margins or paddings
	margin: 0;
	padding: 0;
	// We need to inherit the original $base-font-family
	font-size: inherit;
	// Border should be a property of <h2>, <h3> elements.
	// 2px dotted borders are out of discussion.
	// Explicitly override all borders
	border: none;
}

// Explicitly separated sections
.section {
	margin-bottom:rhythm(1);
	border-bottom:1px dotted $line-color-light;
}