#navbar {
	// Reset to 0 and use user-defined colors;
	margin-right: 0;
	padding-bottom: 0;
	border-bottom: 1px solid $line-color;
	// We need a clearfix here
	@include pie-clearfix();
	// Reset all link underlines, highlights and/or borders. We want navegation always the same.
	a, a:hover {
		text-decoration:none;
		border:none;
	}
	a, a:link, a:visited, a:hover, a:active {
		color:$font-color;
	}
	li {
		// We use a border effect
		border-bottom: rhythm(0.25) solid transparent;
		border-top:1px solid transparent;
		margin-bottom:rhythm(-0.25);
		// Animate a little
		@include transition(all 0.25s ease-in-out);
		&:hover {
			border-color:#000;
		}
	}
}