#navbar {
	// Reset to 0 and use user-defined colors;
	margin-right: 0;
	padding-bottom: 0;
	border-bottom: 1px solid $line-color;
	// Mobile-first
	margin-bottom:rhythm(1);
	@include breakpoint($small) {
		margin-bottom:0;
	}
	// We need a clearfix here
	@include pie-clearfix();
	a {
		// This conflicts with pkp/common.css ul.menu a.
		// We need to repeat the properties. Ugly, but needed.
		@include adjust-font-size-to($base-font-size);
		letter-spacing: 0.1rem;
	}
	// Reset all link underlines, highlights and/or borders. We want navegation always the same.
	a, a:hover {
		text-decoration:none;
		border:none;
	}
	a, a:link, a:visited, a:hover, a:active {
		color:$font-color;
	}
	li {
		// We use a border effect
		// TODO: This is highly opinionated
		border-top: rhythm(0.125) solid transparent;
		border-bottom:1px solid transparent;
		margin-bottom:-1px;
		// Animate a little
		@include transition(all 0.25s ease-in-out);
		// Mobile-first
		width:100%;
		text-align:center;
		padding:rhythm(0.25);
		@include breakpoint($small) {
			padding:0;
			width:auto;
		}
		&:hover {
			border-color:#000;
		}
	}
}