.menu {
	padding:0; // Padding is already included in #nav
	// We need a clearfix here
	@include clearfix();
	border-bottom: 1px solid $line-color;
	// Mobile-first
	margin-bottom:rhythm(1);
	@include breakpoint($small) {
		margin-bottom:0;
	}
	a {
		text-transform:uppercase;
		// Use our font sizes
		@include adjust-font-size-to($base-font-size);
		// Use our headings font
		font-family: $headlines;
	}
	// Reset all link underlines, highlights and/or borders. We want navegation always the same.
	a, a:hover {
		text-decoration:none;
		border:none;
	}
	a, a:link, a:visited, a:hover, a:active {
		color:$font-color;
	}
	li {
		// We use a border effect
		// TODO: This is highly opinionated
		// Use vertical rhythm units also for horizontal spacing.
		margin-right: rhythm(1);
		padding:0;

		// We want to give menu items more space for touch-enabled devices...
		float:left;
		display:block;
		border-top: rhythm(0.125) solid transparent;
		border-bottom:1px solid transparent;
		margin-bottom:-1px;
		@if $transitions == true {
			// Animate a little
			@include transition(all $transitions-speed ease-in-out);
		}

		// Mobile-first
		width:100%;
		text-align:center;
		padding:rhythm(0.25);
		@include breakpoint($small) {
			padding:0;
			width:auto;
		}
		&:hover {
			border-color:#000;
		}
		.current {
			font-weight: bold;
		}
	}
}