//--------------------------
//
// This file resets sidebar elements and then style individually its blocks.
// The CSS for every item is usually tiny. That's why we don't sub-divide it in different module files
// and keep them in one single file,
//
//
// MENU
// 1 - General
// 2 - Individual blocks
//--------------------------



//
// 1 - GENERAL
//

#sidebar input.textField, #sidebar select.selectMenu {
	// We have to explicitly override again the font-size property
	@include adjust-font-size-to($h5-font-size);
}

#sidebar div.block {
	// INherit font sizes and set correct margin (not padding!!)
	font-size: inherit;
	padding:0;
	margin-bottom: rhythm(1) !important; // #sidebarFontSize block has inline CSS that sets margin to 4px. Can't understand why.
}

#sidebar div.block span.blockTitle {
	// Padding as vertical rhythm units
	padding: rhythm(0.25) 0 rhythm(0.5) 0;
	// Font size
	@include adjust-font-size-to($base-font-size);
	// No more letter spacing than usual
	letter-spacing: normal;
	// We use headlines' font for everything that indicates sectioning or divisions
	font-family: $headlines;
	// Boder-top as divider
	border-top:rhythm(0.25) solid tint($font-color, 85%);
}

#sidebar div.block span.blockSubtitle {
	// We need to mark subtitle's hierarchy inside the block
	font-weight:bold;
	font-family:$headlines;
}

#sidebar {
	// Custom bullet (em dash)
	ul {
		margin:0;
		padding:0;
		li {
			padding-left:rhythm(1);
			list-style-type:none;
			&:before {
				content: "—";
				display: inline;
				float: left;
				margin-left: rhythm(-1);
				color:$light-color;
			}
		}
	}
	// Text smaller, uppercase
	p, a, label, div, strong {
		@include adjust-font-size-to($h5-font-size);
		font-family:$alt-font-family;
		text-transform:uppercase;
	}
}



//
// 2 - INDIVIDUAL BLOCKS
//

#developedBy {
	text-transform: uppercase;
	font-size: 0.95em;
}

#sidebarLanguageToggle {
	// Separate list and button
	select {
		width:60%;
	}
	.button {
		width:40%;
		margin-left:-1px;
	}
}

#simpleSearchForm {
	// We need the table to span all width
	table {
		width:100%;
	}
	// All inputs get fullwidth
	input {
		width:100%;
		@include box-sizing(border-box);
	}
	// Separate using some margin
	.button {
		margin-top:rhythm(0.5);
	}
}

#sidebarFontSize {
	#sizer {
		a {
			margin: 0 rhythm(0.5) 0 0;
		}
	}
}

#sidebarUser {
	td {
		label {
			@include adjust-leading-to(0.75);
		}
		input[type="submit"] {
			margin-top:rhythm(0.5);
			width:100%;
		}
	}
	// A bit hacky... make the first <br> disappear in order to avoid a newline between
	// "logged in as" and the current user name.
	> br {
		display:none;
	}
}