// 
// Steplist is used in config sections like yourdomain.com/yourjournal/manager/setup/1
// 

ul.steplist {
	// Respect vrhythm
	margin: 0 0 rhythm(1) 0;
	padding:0 0 rhythm(0.25) 0;
	border-bottom:1px solid $line-color-light;
}

ul.steplist li {
	// Use our font sizing
	@include adjust-font-size-to($base-font-size);
	font-family:$headlines;
	display:block;
	text-align:center;
	@include breakpoint($small) {
		display:inline;
		text-align:left;
		// Separate using a border
		margin-right: rhythm(0.5);
		padding-right:rhythm(0.5);
		border-right: 1px solid $line-color-light;
		&:last-child {
			border-right:none;
		}
	}
	&.current {
		font-weight:bold;
	}
	&.current a, a:focus, a:hover  {
		color: $black;
	}
}