//--------------------------
// MENU
// 1 - General
// 2 - .data tables
// 3 - .listing tables
//--------------------------

table {
	width:100%;
	max-width:100%;
	margin-bottom:rhythm(1);
	border-collapse:collapse;
	th, td {
		padding:rhythm(0.25) 0;
	}
}

thead {
	th {
		border-bottom:1px solid $line-color;
		text-align:left;
		&:last-child {
			text-align:right;
		}
	}
}

tbody {
	td {
		text-align:left;
		&:last-child {
			text-align:right;
		}
	}
}

.nested {
	table-layout:fixed;
	td {
		text-align:center;
		padding:0;
		@include adjust-font-size-to($h5-font-size);
		font-family:$alt-font-family;
		&:last-child {
			text-align:center;
		}
	}
}

.listing {	

	// Borrowed from http://elvery.net/demo/responsive-tables/
	@include breakpoint(max-width $medium) {
		
		/* Force table to not be like tables anymore */
		table, 
		thead, 
		tbody, 
		th, 
		td, 
		tr { 
			display: block; 
		}

		tbody td:last-child {
			text-align:left;
		}
	 
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	 
		tr {
			margin-bottom:rhythm(1);
		}
	 
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid $line-color-light; 
			position: relative;
			// padding-left: 50%; 
			white-space: normal;
			text-align:left;
		}
	 
		td:before { 
			/* Now like a table header */
			// position: absolute;
			/* Top/left values mimic padding */
			// top: 6px;
			// left: 6px;
			// width: 45%; 
			padding-right: 20px; 
			// white-space: nowrap;
			text-align:left;
			font-weight: bold;
		}
	 
		/*
		Label the data
		*/
		td:before { content: attr(data-title); }
	}
}

.listing--wide {
	@include adjust-font-size-to($h5-font-size);
	letter-spacing:-0.01em;
	th, td {
		padding-right:$gutter/2;
		&:last-child {
			padding-right:0;
		}
	}
}

.listing-pager {
	@include adjust-font-size-to($h5-font-size);
	font-family:$alt-font-family;
	border-top:1px solid $line-color;
	td {
		border:none;
	}
}

.center {
	text-align:center;
}

.action { 
	@include adjust-font-size-to($h5-font-size,0.5);
	display:inline-block;
	font-family:$alt-font-family;
	@include matar-link();
}

.nowrap {
	white-space:no-wrap;
}

%table-pseudoresponsive { // Used whenever we can't rewrite the table html
	@include breakpoint(max-width $medium) {
		thead {
			display:none;
		}
		tbody, td, tr {
			display:block;
		}
	}
}

%table-overflows {
	overflow-x:auto;
}

%table-undo-rwd {
	@include breakpoint(max-width $medium) {
		
		/* Force table to not be like tables anymore */
		table {
			display:table;
		}
		thead, 
		tbody {
			display: table-row-group;
		}
		th, 
		td {
			display:table-cell;
		}
		tr { 
			display: table-row; 
		}
		tbody td:last-child {
			text-align:right;
		}
		thead tr { 
			position: static;
		}
	 
		tr {
			margin-bottom:0;
		}
	 
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: none; 
			position: relative;
			padding-left: 0; 
			white-space: normal;
			text-align:inherit;
		}
	 
		td:before { 
			display:none;
		}
	}

}


/**
 * Table styles
 */

.highlightReviewerNotNotified, .highlightCopyediting {
	background: #EDEBC4;
}
.highlightNoDecision, .highlightLayoutEditing {
	background: #D8E9BD;
}
.highlightRevisedCopyUploaded, .higlightProofreading {
	background: #C6EBE4;
}
.highlightReviewerConfirmationOverdue {
	background: #9DD1E6;
}
.highlightReviewerCompletionOverdue {
	background: #74C5D8;
}

.fastTracked {
	background-color: #ABA;
}

