/**
 * Table styles
 */

table.info td {
	padding: 0;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

table.listing td {
	padding: 0.25em 1.5em 0.25em 0.5em;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0.75em 1.5em 1em 0.5em;
}

table.info td.heading {
	padding-left: 0;
}


table.listing td.nodata, table.info td.nodata {
	text-align: center;
	font-style: italic;
}

table.listing td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.listing td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.listing td.separator, table.info td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.data td {
	// Express it as vertical rhythm units
	padding-bottom: rhythm(1);
}

table.data td.separator {
	// Make the separator bigger
	padding: rhythm(1);
}

table.data td.heading {
	padding-left: 0;
	padding-right: 0;
}

table.nested tr {
	padding: 0;
	margin: 0;
}

span.nested {
	padding: 0 4px 0 0;
	font-size: 1.2em;
}


// TABLE HACKS AND FIXES


// There are strong inconsistencies inside OJS tables. 
// Some instructions have a .instruct and span in their own <tr> row 
// while others are put inside the main <td>, alongside the <input> and without class
// Seame happens for labels inside td.labels.
// We have to be hackish: we style generally and then override.

.instruct,
span.formRequired,
table.data td.label,
td.value,
td.data,
td label  {
	font-family:$alt-font-family;
	@include adjust-font-size-to($h5-font-size);
}

table.data td.label {
	// Express it as vetical rhythm units
	padding-right: rhythm(1);
	font-weight:bold;
}


td {
	// Make all form elements inside tables align correctly
	select,
	input {
		vertical-align:middle;
		display:inline-block;
	}
	select + input[type="submit"],
	input + input[type="submit"]  {
		// If there is a select and a input, we make the borders collapse.
		// Hackish, but beautiful and degrades gracefully.
		margin-left:-1px;
	}
}