//
// GENERAL SETTINGS
//

// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: false !default;



//
// TYPOGRAPHY & VERTICAL RHYTHM
//

// The font size set on the root html element.
$base-font-size: 16px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$rhythm-unit: 'rem' !default;

// Library of ready-to-use fonts
$merriweather: Merriweather, Georgia, Times, serif;
$oswald: Oswald, Impact, Helvetica, Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, "Times News Roman", Times, serif;
$courier: "Courier New", Courier, monospace;

// Fonts to use
$serif: $merriweather;
$sans-serif: $helvetica;
$headlines: $oswald;
$monospace: $courier;

// The default font family.
$base-font-family: $serif !default;

// The font sizes for h1-h6.
// Using "perfect fourth" aspect ratio borrowed from http://type-scale.com/
$h1-font-size: 3.157    * $base-font-size !default;
$h2-font-size: 2.369  * $base-font-size !default;
$h3-font-size: 1.777 * $base-font-size !default;
$h4-font-size: 1.333    * $base-font-size !default;
$h45-font-size: 0.85   * $base-font-size !default;
$h5-font-size: 0.707 * $base-font-size !default;
$h6-font-size: 0.5 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

//
// COLORS
//

// The default color of text, headings, etc...
$font-color: #333;

// Colors of the different states of the links
$link: #666 ;
$link-active: #666;
$link-visited: tint($link, 25%);
$link-hover: tint($link, 25%);

// Buttons
$default-button: #000;
$button: #eee;

//
// LINKS
//

// Choose your preferred link styling
$link-style: dotted-after; // border-bottom dotted before :hover (disabled on :hover)
// dotted-after = border-bottom dotted before :hover (active on :hover)
// classic = text-decoration:underline after :hover


//
// LAYOUT
//

// Max-width of the main container
$max-width:1200px;


// After the default variables are set, import the required Compass partials.
@import "compass/support";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities/general/clearfix"