//--------------------------
// MENU
// 1 - General Settings
// 2 - Typography & Vertical Rhythm
// 3 - Colors
// 4 - Links
// 5 - Layout
//--------------------------



//
// 1 - GENERAL SETTINGS
//

// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: false !default;

// Alignment of title (text or image)
$header-alignment: left; 



//
// 2 - TYPOGRAPHY & VERTICAL RHYTHM
//

// We use Compass' mixins and functions: http://compass-style.org/reference/compass/typography/vertical_rhythm/
// The font size set on the root html element.
$base-font-size: 16px !default;
// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;
// The length unit in which to output vertical rhythm values.
// Supported values: px, em.
$rhythm-unit: 'rem' !default;
// Allow big sizes to cut to 1/2 line-height to above excessive spacing
$round-to-nearest-half-line: true;

// Library of ready-to-use fonts
$merriweather: Merriweather, Georgia, Times, serif;
$roboto: 'Roboto Condensed', Impact, Helvetica, Arial, sans-serif;
$oswald: Oswald, Impact, Helvetica, Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, "Times News Roman", Times, serif;
$courier: "Courier New", Courier, monospace;
// Add your font sets here. Don't forget to @import them at init/_fonts.scss

// Font sets
$serif: $merriweather;
$sans-serif: $helvetica;
$headlines: $roboto;
$monospace: $courier;

// Choose the font type we want to use for main texts (paragraphs, etc);
$base-font-family: $serif;
// Choose an alternate font to combine with the main font.
// We will also use $headlines for the headings and $monospace for code.
$alt-font-family: $headlines;
// Choose the font for the butons
$font-button: $headlines;

// The font sizes for h1-h6.
// Using "perfect fourth" aspect ratio borrowed from http://type-scale.com/
$h1-font-size: 3.157    * $base-font-size !default;
$h2-font-size: 2.369  * $base-font-size !default;
$h3-font-size: 1.777 * $base-font-size !default;
$h4-font-size: 1.333    * $base-font-size !default;
$h5-font-size: 0.85   * $base-font-size !default;
$h6-font-size: 0.707 * $base-font-size !default;
//$h6-font-size: 0.5 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;



//
// 3 - COLORS
//

// The default color of text, headings, etc...

$font-color: #333;

// Define our "black" and "white" (for  improved legibility we sometimes use slightly lighter versions of black)
$black: #1b1b1b;
$white: #fff;

// A light and a dark colors (usually grays, as your font-color will be a shade of black).
// It is a good idea to define them as variations of $font-color in order to achieve a simple scale of grays
// You can modify the percents in order to achieve lighter/darker versions.
$light-color: tint($font-color, 60%);
$dark-color: shade($font-color, 60%);

// Optionally, define a main-color and a secondary-color to reuse on single components.
$main-color: #3C7861;
$secondary-color: #008080;

// Default color for lines, separators, etc.
$line-color: $light-color;
$line-color-light: tint($line-color, 40%);

// Background-color for the whole webpage
$background-color: #f5f5f5;
// Background-color for the #container wrapper
$container-background-color: #fff;
// Background-color for the #header wrapper
$header-background-color: #eee;


//
// 4 - LINKS
//

// Colors of the different states of the links
$link-color: #666 ;
$link-active-color: #666;
$link-visited-color: tint($link-color, 25%);
$link-hover-color: tint($link-color, 25%);

// Choose your preferred link styling. There are four options available:
$link-style: dotted-after; 		// dotted-before = border-bottom is dotted before :hover and disabled on :hover
								// dotted-after = border-bottom is disabled before :hover and enabled on :hover
								// solid-before = same as dotted-before, with solid border
								// solid-after = same as dotted-after, with solid border


//
// 5 - LAYOUT
//

// Max-width of the main container
$max-width:1200px;

// Sidebar size (recommended as % of width)
$left-sidebar-width: 23%;
$right-sidebar-width: 23%;

// Breakpoints
$small: 480px;
$medium: 768px;
$screen: 960px;

// Define the specific breakpoint on which the sidebar and content move to a column
// You can use one of the breakpoints above or define your own.
$sidebar-breakpoint: 600px;


//
// 6 - FORMS
//

$border-radius: 0px; // In px.

// Buttons
$button-style: outline;		// Possible values:
							// outline: only border, gets background-color on :hover
							// fill: background-color, gets darker on :hover, no border
$button-color: $main-color ; // Background or border color
$button-border-width: 1px; // Want plain buttons? Set this value to 0
$button-border-radius: $border-radius; // Want square buttons? Se tthis value to 0

// After the default variables are set, import the required Compass partials.
@import "compass/support";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "breakpoint";