//--------------------------
//
// This file resets all elements to their new defaults
// explictly overriding OJS' previous stylesheets.
//
//
// MENU
// 1 - Typography
// 2 - Vertical rhythm
// 3 - Links
// 4 - Other defaults
// 4 - OJS elements
//--------------------------


// TYPOGRAPHY
// ========================================================

// Set font families and colors

p, h1, h2, h3, h4, h5, h6 {
	color:$font-color
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headlines;
}

// Implements h1-h6 aspect ratio

h1 {
	@include adjust-font-size-to($h1-font-size);	
}

h2 {
	@include adjust-font-size-to($h2-font-size);
}

h3 {
	@include adjust-font-size-to($h3-font-size);
}

h4 {
	@include adjust-font-size-to($h4-font-size);
}

h5 {
	@include adjust-font-size-to($h5-font-size);
}

h6 {
	@include adjust-font-size-to($h6-font-size);	
}



// VERTICAL RHYTHM
// ========================================================

// Every margin generating vertical whitespace should always be expressed as a margin-bottom.
// We always use one (1) measure of vertical rhythm;

p, h1, h2, h3, h4, h5, h6, ul {
	margin:0 0 rhythm(1) 0;
}

ul {
	// Set values using compass' vertical rhythm
	padding: 0 0 0 rhythm(1);
}


// LINKS
// ========================================================


a, a:link {
	color: $link-color;
	@if $link-style == dotted-before {
		text-decoration:none;
		border-bottom:1px dotted $link-hover-color;
	} @else if $link-style == solid-before {
		text-decoration:underline;
	} @else if $link-style == solid-after or $link-style == dotted-after {
		text-decoration:none;
	} @else {
		@error "Invalid value for $link-style. Please use one of the following: dotted-before, dotted-after, solid-before, solid-after"
	}
}

a:active {
	color: $link-active-color;
}

a:visited {
	color: $link-visited-color;
}

a:hover {
	color: $link-hover-color;
	background: transparent;
	@if $link-style == dotted-before or $link-style == solid-before {
		border-bottom:none;
	} @else if $link-style == dotted-after {
		border-bottom:1px dotted $link-hover-color;
	} @else if $link-style == solid-after {
		text-decoration:underline;
	} @else {
		@error "Invalid value for $link-style. Please use one of the following: dotted-before, dotted-after, solid-before, solid-after"
	}
}


// DEFAULTS
// ========================================================


body {
	color: $font-color;
	font-family: $base-font-family;
}

body,
#header,
#footer {
	// We have to explicitly override the background color (even if we choose transparent)
	// TODO: ¿should we separate header, footer and body colors?
	background-color: $background-color;
}


// OJS ELEMENTS
// ========================================================

div.separator {
	// Set a bigger margin
	margin:rhythm(1) 0;
	border-bottom: 2px solid #CCC;
	position:relative;
}

a.action, a.file {
	@include adjust-font-size-to($base-font-size);
	text-transform: inherit;
}
