//--------------------------
//
// This file resets all elements to their new defaults
// explictly overriding OJS' previous stylesheets.
//
//
// MENU
// 1 - Typography
// 2 - Vertical rhythm
// 3 - Links
// 4 - Other defaults
// 4 - OJS elements
//--------------------------


// TYPOGRAPHY
// ========================================================

// Set font families and colors

p, h1, h2, h3, h4, h5, h6 {
	color:$font-color
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headlines;
}

// Implements h1-h6 aspect ratio

h1 {
	@include adjust-font-size-to($h1-font-size);	
}

h2 {
	@include adjust-font-size-to($h2-font-size);
}

h3 {
	@include adjust-font-size-to($h3-font-size);
}

h4 {
	@include adjust-font-size-to($h4-font-size);
}

h5 {
	@include adjust-font-size-to($h5-font-size);
}

h6 {
	@include adjust-font-size-to($h6-font-size);	
}



// VERTICAL RHYTHM
// ========================================================

// Every margin generating vertical whitespace should always be expressed as a margin-bottom.
// We always use one (1) measure of vertical rhythm;

p, h1, h2, h3, h4, h5, h6, ul {
	margin:0 0 rhythm(1) 0;
}

ul {
	// Set values using compass' vertical rhythm
	padding: 0 0 0 rhythm(1);
}


// LINKS
// ========================================================


a, a:link {
	color: $link-color;
	@if $link-style == dotted-before {
		text-decoration:none;
		border-bottom:1px dotted $link-hover-color;
	} @else if $link-style == solid-before {
		text-decoration:underline;
	} @else if $link-style == solid-after or $link-style == dotted-after {
		text-decoration:none;
	} @else {
		@error "Invalid value for $link-style. Please use one of the following: dotted-before, dotted-after, solid-before, solid-after"
	}
	@if $transitions == true {
		transition: all $transitions-speed ease-in-out;
	}
}

a:active {
	color: $link-active-color;
}

a:visited {
	color: $link-visited-color;
}

a:hover {
	color: $link-hover-color;
	background: transparent;
	@if $link-style == dotted-before or $link-style == solid-before {
		border-bottom:none;
	} @else if $link-style == dotted-after {
		border-bottom:1px dotted $link-hover-color;
	} @else if $link-style == solid-after {
		text-decoration:underline;
	} @else {
		@error "Invalid value for $link-style. Please use one of the following: dotted-before, dotted-after, solid-before, solid-after"
	}
}


// DEFAULTS
// ========================================================


body {
	color: $font-color;
	font-family: $base-font-family;
	background-color: $background-color;
}

#main-wrapper {
	background-color: $container-background-color;
}

dl {
	margin: 0 0 rhythm(1) 0;
}

dt {
	font-weight:bold;
}

dd {
	margin: 0 0 rhythm(1) 0;
}


// OJS ELEMENTS
// ========================================================

div.separator {
	display:none;
}

.delete-actions {
	.action {
		font-size:inherit;
		font-family:inherit;
	}
}

.delete-margins {
	p {
		margin:0;
	}
}