// TYPOGRAPHY
// ========================================================

// Set font families and colors

p, h1, h2, h3, h4, h5, h6 {
	color:$font-color
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headlines;
}

// Implements h1-h6 aspect ratio

h1 {
	@include adjust-font-size-to($h1-font-size);	
}

h2 {
	@include adjust-font-size-to($h2-font-size);
}

h3 {
	@include adjust-font-size-to($h3-font-size);
}

h4 {
	@include adjust-font-size-to($h4-font-size);
}

h5 {
	@include adjust-font-size-to($h5-font-size);
}

h6 {
	@include adjust-font-size-to($h6-font-size);	
}



// VERTICAL RHYTHM
// ========================================================

// Every margin generating vertical whitespace should always be expressed as a margin-bottom.
// We always use one (1) measure of vertical rhythm;

p, h1, h2, h3, h4, h5, h6, ul {
	margin:0 0 0 rhythm(1);
}

ul {
	// Set values using compass' vertical rhythm
	padding: 0 0 0 rhythm(1);
}

// DEFAULTS
// ========================================================


body {
	// Must explicitly override the background color. TODO: ¿Set in variable?
	background-color: $background-color;
	color: $font-color;
	font-family: $base-font-family;
}

table {
	// We use rem
	font-size: 1.0rem;
}

